.inputBlock{
	display: flex;
	flex-direction: column;
	position: relative;
	width: auto;
	height: auto;
}
.inputBlock label{
	display: inline-block;
	position: relative;
	width: auto;
	height: auto;
	color: #262626;
	font-size: 14px;
	line-height: 22px;
}
.inputBlock label sup{
	display: inline-block;
	margin-left: 2px;
}
.inputBlock input{
	display: inline-block;
	position: relative;
	width: 256px;
	height: 40px;
	color: #BFBFBF;
	font-size: 16px;
	line-height: 24px;
	padding: 8px 12px;
	border: 1px solid #D9D9D9;
	box-sizing: border-box;
	border-radius: 2px;
	cursor: pointer;
}
.inputBlock input:hover{
	border-color: #40A9FF;
}
.inputBlock input:focus{
	border-color: #40A9FF;
	box-shadow: 0px 0px 4px rgba(24, 144, 255, 0.5);
	outline: none;
}
.inputBlock input.typing{
	color: #595959;
	box-shadow: 0px 0px 4px rgba(24, 144, 255, 0.5);
	outline: none;
}
.inputBlock input:disabled{
	cursor: default;
	border-color: #D9D9D9;
	background: #F5F5F5;
}