.inputBlock{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
	width: auto;
	height: auto;
	margin-top: 17px;
	left: -1px;
}
.inputBlock label{
	display: inline-block;
	position: relative;
	width: auto;
	height: auto;
	top: 1px;
	left: 2px;
	color: #262626;
	font-size: 14px;
	line-height: 22px;
}
.inputBlock label sup{
	display: inline-block;
	position: relative;
	margin-left: 3px;
	top: 6px;
	font-size: 15px;
}
.inputBlock input{
	display: inline-block;
	position: relative;
	width: 288px;
	height: 40px;
	margin-top: 3px;
	left: 2px;
	color: #BFBFBF;
	font-size: 16px;
	line-height: 24px;
	padding: 8px 12px 4px 11px;
	border: 1px solid #D9D9D9;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 2px;
	cursor: pointer;
}
.inputBlock input::-webkit-input-placeholder{
	color: #BFBFBF;
}
.inputBlock input::-moz-placeholder{
	color: #BFBFBF;
}
.inputBlock input:-ms-input-placeholder{
	color: #BFBFBF;
}
.inputBlock input::-ms-input-placeholder{
	color: #BFBFBF;
}
.inputBlock input::placeholder{
	color: #BFBFBF;
}
.inputBlock input:hover{
	border-color: #40A9FF;
}
.inputBlock input:focus{
	border-color: #40A9FF;
	-webkit-box-shadow: 0px 0px 4px rgba(24, 144, 255, 0.5);
	        box-shadow: 0px 0px 4px rgba(24, 144, 255, 0.5);
	outline: none;
}
.inputBlock input.typing{
	color: #595959;
	-webkit-box-shadow: 0px 0px 4px rgba(24, 144, 255, 0.5);
	        box-shadow: 0px 0px 4px rgba(24, 144, 255, 0.5);
	outline: none;
}
.inputBlock input.filled{
	color: #595959;
}
.inputBlock input:disabled{
	cursor: default;
	border-color: #D9D9D9;
	background: #F5F5F5;
}
.error{
	display: none;
	position: absolute;
	width: auto;
	height: auto;
	bottom: -22px;
	left: 0;
	color: #F5222D;
	font-size: 13px;
	line-height: 22px;
}
.displayError{
	display: inline-block;
}
.inputBlock input.inputError{
	border-color: #F5222D;
	color: #F5222D;
}
.inputBlock input.inputError.typing{
	color: #595959;
	-webkit-box-shadow:  none;
	        box-shadow:  none;
}
.inputBlock:nth-of-type(2){
		margin-top: 18px;
		letter-spacing: -0.2px;
}
.inputBlock:nth-of-type(3){
		margin-top: 19px;
		letter-spacing: -0.2px;
}
.inputBlock:nth-of-type(3) input{
		letter-spacing: -0.3px;
}
@media (min-width: 375px){
	.inputBlock input{
		width: 256px;
		letter-spacing: -0.5px;
	}

}
@media (min-width: 576px){
	.inputBlock{
		width: 256px;
		margin-top: 16px;
	}
	.inputBlock label{
		left: 1px;
	}
	.inputBlock input{
		width: 256px;
		padding-left: 10px;
	}
	.inputBlock:nth-of-type(2){
		margin-top: 17px;
	}
	.inputBlock:nth-of-type(2) input{
		padding-top: 10px;
	}
	.inputBlock:nth-of-type(3){
		margin-top: 41px;
	}
}