/*стили для кнопки Отправить*/
.sendBtn,
.modalBtn{
	display: inline-block;
	position: relative;
	width: 100%;
	max-width: 343px;
	height: 40px;
	color: #BCBCBC;
	font-size: 16px;
	line-height: 24px;
	background: #E8E8E8;
	border: 1px solid #D9D9D9;
	box-sizing: border-box;
	border-radius: 2px 0px 0px 2px;
}
.modalBtn{
	width: 91%;
	margin: 0 auto;
}
.sendBtn.active{
	cursor: pointer;
	color:  #fff;
	background: #1890FF;
	border: 5px;
}
.sendBtn.active:hover{
	background: #40A9FF;
	border-radius: 2px 0px 0px 2px;
}
.sendBtn.pressed{
	cursor: pointer;
	background: #096DD9;
	color:  #fff;
}
/*стили для кнопки модального окна*/
.modalBtn{
	width: 308px;
	color: #fff;
	background: #1890FF;
	border-radius: 2px;
}
.modalBtn:hover{
	cursor: pointer;
	background: #096DD9;
}
@media (min-width:  992px){
	.sendBtn,
	.modalBtn{
		width: 360px;
	}
}