.uploadFileBlock {
  position: relative;
  width: auto;
  height: auto;
  margin-top: 24px;
}
 
.uploadFileBlock input {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
 
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 288px;
  height: 42px;
  margin: 0;
  background: #F5F5F5;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  border: 1px dashed #D9D9D9;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.btn span {
  position: relative;
  margin-top: 1px;
  left:  2px;
  line-height: 1;
  letter-spacing: -0.2px;
}
.plusBlock{
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 12.5px;
  left: 57px;
}
.plusBlock span{
  display: inline-block;
  position: relative;
  width: 2px;
  height: 15px;
  left: 0;
  background: #8C8C8C;
}
.plusBlock span:last-child{
  left: -2px;
  transform: rotate(90deg);
}
.fileBlock{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  width: 288px;
  height: 22px;
}
.fileBlock:hover{
  cursor: pointer;
  background: #E6F7FF;
}
.fileBlock:active .title{
  color: #096DD9;
}
.fileBlock.error .title{
  color: #F5222D;
}
.fileBlock.error .close:before,
.fileBlock.error .close:after{
  background: #F5222D;
}
.fileBlock img{
  display: block;
  position: relative;
  width: 10px;
  height: 12px;
}
.title,
.close{
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  margin-left: 11px;
  color: #1890FF;
  font-size: 14px;
  line-height: 22px;
}
.close{
  width: 10px;
  height: 10px;
  margin-right: 6px;
  margin-left:  auto;
  top: 1px;
}
.close:before,
.close:after{  
  content: ''; 
  position: absolute;
  width: 1px;
  height: 10px;
  top: 0;
  left: 4px;
  background: #8C8C8C;
  transform: rotate(45deg);
}
.close:after{  
  transform: rotate(-45deg);
}
@media (min-width:  375px){
  .btn,
  .fileBlock{
    width: 343px;
  }
}
@media (min-width: 576px){
  .uploadFileBlock{
    margin-top: 69px;
  }
  .uploadFileBlock label,
  .btn,
  .fileBlock{
    width: 256px;
  }
  .plusBlock{
    left: 12.5px;
  }
}