.uploadFileBlock {
  position: relative;
  width: auto;
  height: auto;
  margin-top: 24px;
  margin-bottom: 40px;
}
 
.uploadFileBlock input {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
 
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 288px;
  height: 40px;
  margin: 0;
  background: #F5F5F5;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  border: 1px dashed #D9D9D9;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.btn span {
  margin-top: 1px;
  line-height: 1;
}
.plusBlock{
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 12.5px;
  left: 12.5px;
}
.plusBlock span{
  display: inline-block;
  position: relative;
  width: 2px;
  height: 15px;
  background: #8C8C8C;
}
.plusBlock span:last-child{
  left: -2px;
  transform: rotate(90deg);
}
@media (min-width:  375px){
  .btn{
    width: 343px;
  }
}
@media (min-width: 576px){
  .uploadFileBlock{
    margin-top: 42px;
  }
  .uploadFileBlock label{
    width: 256px;
  }
  .btn{
    width: 256px;
  }
}