.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1050;
    opacity: 0;
    transition: opacity 500ms ease-in;
    pointer-events: none;
}
.showModal{
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}
.dialog {
    position: relative;
    display: block;
    width: 95%;
    max-width: 340px;
    height: auto;
    min-height: 202px;
    padding: 15px;
    overflow: hidden;
}
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: inherit;
    height: inherit;
    min-height: inherit;
    position: relative;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    background-clip: padding-box;
    background-color: #fff;
    outline: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.body{
    scrollbar-color: #BCBCBC #fff;
    scrollbar-width: thin;
    overflow-y: auto;
}
.body.agreement{
    height: 300px;
    margin-top:  32px;
    margin-bottom: 50px;
}
/* полоса прокрутки (скроллбар) */
.body::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #fff;
    border: 1px solid #fff;
}

/* ползунок скроллбара */
.body::-webkit-scrollbar-thumb {
    background-color: #BCBCBC;
    border-radius: 9em;
    -webkit-box-shadow: inset 1px 1px 10px #ebf1f5;
    box-shadow: inset 1px 1px 10px #ebf1f5;
}

.body::-webkit-scrollbar-thumb:hover {
    background-color: #BCBCBC;
}

/* Стрелки */

.body::-webkit-scrollbar-button:vertical:start:decrement {
    background: #fff;
    background-color: #fff;
}

.body::-webkit-scrollbar-button:vertical:end:increment {
    background:#fff;
    background-color: #fff;
}

.body::-webkit-scrollbar-button:horizontal:start:decrement {
    background: #fff;
    background-color: #fff;
}

.body::-webkit-scrollbar-button:horizontal:end:increment {
    background: #fff;
    background-color: #fff;
}
.body,
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 95%;
  margin: 0 auto;
}
.footer{
    margin: auto auto 16px;
}
.title{
    padding: 0 10px;
}
.title,
.invite{
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    margin: 32px auto 0;
    color: #262626;
    font-size: 24px;
    line-height: 38px;
}
.invite{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 38px;
}
.close{
    display: none;
    position: absolute;
    width: 14.84px;
    height: 15.28px;
    top: 44.36px;
    right: 44.59px;
    padding: 0;
    border: none;
    background: transparent;
    outline: none;
}
.close:hover{
    cursor: pointer;
    filter: brightness(0.8);
}
@media (min-width: 576px){
    .dialog {
        max-width: 547px;
        min-height: 244px;
    }
    .title{
        margin-top: 47px;
    }
    .footer{
        margin-bottom: 40px;
    }
    .close{
        display: flex;
    }
    .dialog.agreement{
        max-width: 758px;
    }
}