.checkBoxBlock{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	width: auto;
	height: auto;
}
.checkBoxBlock input{
	display: block;
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkBoxBlock label{
	display: inline-block;
	position: relative;
	width: auto;
	height: auto;
	color: #595959;
	font-size: 13px;
	line-height: 22px;
	padding-left: 24px;
}
.checkBoxBlock label:hover{
	cursor: pointer;
}
.checkBoxBlock input + label:hover:before{
	border-color: #6eb4f6;
}
.checkBoxBlock input + label:before{
	content: '';
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	margin-right: -21px;
	top: 3px;
	left:  -24px;
	border: 1px solid #D9D9D9;
	box-sizing: border-box;
	border-radius: 2px;
}
.checkBoxBlock input + label:after{
	display: none;
	content: '';    
	position: absolute;
	width: 16px;
	height: 16px;
	top: 4px;
	left: 0;
	background: #fff;
	clip-path: polygon(42% 80%, 70% 44%, 83% 44%, 42% 95%, 16% 64%, 28% 64%)
}
.checkBoxBlock input:checked + label:before{
	border-color: #1890FF;
	background: #1890FF;
}
.checkBoxBlock input:checked + label:after{
	display: block;
}
.checkBoxBlock label + span{
	display: inline-block;
	position: relative;
	margin-left: 5px;
	color: #1890FF;
	font-size: 13px;
	margin-left: 23px;
}
.checkBoxBlock label + span:hover{
	cursor: pointer;
	text-decoration: underline;
}
@media (min-width: 375px){
	.checkBoxBlock label{
		padding-left: 0;
	}
	.checkBoxBlock input + label:before{
		margin-right: 8px;
		left: unset;
	}
	.checkBoxBlock label,
	.checkBoxBlock label + span{
		font-size: 14px;
	}
	.checkBoxBlock label + span{
		top: 6.5px;
		margin-left: 5px;
	}
}
@media (min-width: 576px){
	.checkBoxBlock label + span{
		top: 7.5px;
	}
}