.form,
.personalData{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: auto;
	padding: 16px;
}
.form h2,
.personalData h4{
	color: #262626;
	font-weight: 500;
	font-size: 40px;
	line-height: 38px;
	margin-top: 0;
	margin-bottom: 32px;
}
.personalData{
	padding: 0;
}
.personalData h4{
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 16px;
}