.form,
.personalData,
.personalDataBlock,
.gender,
.genderList,
.other,
.agreement{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: auto;
	padding: 16px;
	box-sizing: border-box;
}
.form h2,
.personalData h4,
.gender h4,
.other h4{
	margin-top: 0;
	margin-bottom: 32px;
	color: #262626;
	font-weight: 500;
	font-size: 40px;
	line-height: 38px;
}
.personalData,
.personalDataBlock,
.gender,
.other,
.agreement{
	width: 100%;
	max-width: 343px;
	padding: 0;
}
.personalDataBlock{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
}
.personalData h4,
.gender h4,
.other h4{
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 0;
}
.genderTitle{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	width: auto;
	height: auto;
}
.genderTitle h4,
.genderTitle span{
	display: inline-block;
	width: fit-content;
}
.genderTitle span{
	align-self: flex-end;
	position: relative;
	height:  fit-content;
	margin-left: 8px;
	bottom: 6px;
	color: #F5222D;
	font-size: 14px;
	line-height: 22px;
}
.genderList{
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top: 12px;
	padding: 0;
}
.genderList>div:last-child{
	margin-left: 40px;
}
.other{
	margin-top: 40px;
}
.other h4{
	margin-bottom: 7px;
}
.agreement{
	margin-top: 48px;
	margin-bottom: 40px;
}
.genderTitle span.hideGenderError{
	display: none;
}
@media (min-width: 576px){
	.form{
		margin: 0 auto;
	}
	.form,
	.personalData,
	.personalDataBlock{
		width: 100%;
		max-width: 592px;
	}
	.genderTitle span{
		margin-left: 21px;
	}
	.genderList>div:last-child{
		margin-left: 108px;
	}
}